[workspace]
members = ["moonfield-core", "moonfield-rhi", "examples/triangle", "examples/asset_example"]
resolver = "3"

[workspace.package]
edition = "2024"

[workspace.dependencies]
moonfield-core = { path = "./moonfield-core" }
moonfield-rhi = { path = "./moonfield-rhi" }

winit = "0.30.12"
raw-window-handle = "0.6.2"
anyhow = "1.0.87"

ash = "0.38.0"
ash-window = "0.13.0"
gltf = "1.4.1"
shader-slang = "0.1.0"
gpu-allocator = "0.27.0"

# macOS/iOS specific dependencies - only available on Apple platforms
objc2 = "0.6.1"
objc2-app-kit = "0.3.1"
objc2-core-foundation = "0.3.1"
objc2-foundation = "0.3.1"
objc2-metal = "0.3.1"
objc2-quartz-core = "0.3.1"

rand = "0.9.2"
bytemuck = { version = "1.23.1", features = ["derive"] }
tokio = "1.47.1"
thiserror = "2.0.12"
bitflags = "2.9.3"
serde = "1.0.219"
strum = "0.27.2"
strum_macros = "0.27.2"

nalgebra = "0.33.2"

# Tracing dependencies
tracing = "0.1.41"
tracing-subscriber = "0.3.19"
tracing-appender = "0.2.3"
tracing-log = "0.2.0"

[profile.dev]
opt-level = 1

[profile.release]
opt-level = 3
debug = true